<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <%- include("header") %>
    <main>
        <h1><a href="/products">Products</a></h1>
        <h1><a href="/categories">Categories</a></h1>
    </main>
</body>
</html>